/*Layout: classes, ids(sometimes), header, footer */
.title {
  text-align: center;
  padding-top: 0.2em;

}

.head{
  float: left;

}

.body, .gallery{
  background-color: #B22222;
   float: right;
}

.gallery, .about-me, .programs-page, .contact{
  min-height: 78vh;
}

.about, .about-me{
  background-color: #6EC5E9;
  float: left;
}

.foot, .contact{
  float: right;
}

.programs, .programs-page{
  background-color: #000020;
  min height: 14vh;
}

.programs-page{
  font-size: 6vh;
}
.foot, .contact, ul, li{
  background-color:#7B4A12;
}

.jsProgram{
  background-color: #E0E0E0;
  color: #000020;
  text-align: center;
  padding-top: 6vh;
  font-size: 8vh;
  max-height: 12vh;
}

#primes{
  float: right;
}

[class^="icon-"]{
    line-height: 5vh;
}

.icon-home3{
  height: 8vh;
  width: 8vh;
  border-radius: 0%;
  color: white;
  background-color: #000020;
}
.gallery-item {
  min-height: 10vh;
  white-space: pre-line;
  width: 80vw;
}

.image-link{
font-size: 3vh;
margin: 2vh;
padding-top: 0vh;
display: inline;
background-color:#003A6F;
text-decoration:none;
}

.picture{
  background-color: white;
}

.site-image{
display: inline;
float: right;
min-height: 20vh;
width: auto;
border-radius: 10%;
margin: 1vh;
}

.site-title{
  padding-top: 0vh;
  margin-top: 0vh;
  font-size: 4vh;
  float: left;
}

ul{
  margin: 0em;
  padding: 6vh 0em;
}

.icon-home3{
  background-color:white;
  color: #B22222;
  height: 8vh;
  display: inline-block;
  text-decoration: none;
  font-size: 10vh;
  border-radius: 100%;
  margin: 1vh;
  padding: 1vh;
}
.page-link {
  display: block;
}

header{
  color: white;
    white-space: pre-line;
    padding: 0.5vh;
    margin: 0.5vh;
}

img{
  max-height: 10vh;
  width: auto;
  border-radius: 100%;
  float: left;
  margin: 1vh;
}

#sahale{
max-height: 18vh;
min-width: 90vh;
float: right;
border-radius:0%;
}

p{
  font-size: 2vh;
  margin: 1vh;
  padding-top: 1vh;
  display: inline;
  text-decoration: none;
}
