

a, .image-link {
       cursor: pointer;
}






@media only screen and (min-width: 640px){
  *{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2vh;
  }

  li, a{
    background-color:#7B4A12;
    font-size: 4vh;
    display: inline;
    padding: 0.1vh;
    padding-left: 5vh;
    text-decoration: none;
  }

  .page-link {
    background-color: black;
    font-size: 0vh;
    display: inline;
    padding: 0vh;
    text-decoration: none;
  }

  p{
    font-size: 4vh;
  }
  img{
    max-height: 18vh;
  }

  .gallery-item {
    width: 60vw;
  }

  #sahale{
    min-width: 55vw;
    float: left;
    height: 18vh;
  }

  }
