

a, .contact, .foot, .about, .about-me, .body, button{
       cursor: pointer;
}






@media only screen and (min-width: 640px){
  *{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2vh;
  }

  li, a{
    background-color:#7B4A12;
    font-size: 6vh;
    display: inline-block;
    padding: 0.1vh;
    padding-left: 3vh;
  }

  p{
    font-size: 4vh;
  }
  img{
    max-height: 18vh;
  }

  .gallery-item {
    width: 60vw;
  }

  button{
    height: 6vh;
  }

  }
